MONGO_URI=mongodb://localhost:27017/deepshield
IMAGE_MODEL_PATH=models/image_model_best.pth
AUDIO_MODEL_PATH=models/audio_model_best.pth
VIDEO_MODEL_PATH=models/deepfake_model.pth
THRESHOLD=0.5
FLASK_ENV=development
PORT=5000
